// Import bootstrap before custom definitions

@import "bootstrap";

// General definitions

.pull-right {
	float: right!important;
}
body {
	background-color: #ECEFF1;
}
.btn-primary {
	background-color: #2196F3;
}
.btn, .btn-sm {
	border: none;
	border-radius: 0;
}

// Header

.header {
	h1 {
		margin: 10px 0 20px 0;
	}
}

// Task section

.tasks {
	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 50px 0;
		box-shadow: 0 5px 10px #CFD8DC;

		li {
			background-color: white;
			padding: 10px 20px;
			border: solid 1px #CFD8DC;
			border-bottom: none;

			a.btn {
				padding: 2px 5px;
			}

		}
	}
}

// Add a new task

.container_circle {
	position: fixed;
	right: 6em;
	bottom: 6em;
	z-index: 999999;

	.circle {
		width:60px;
		height:60px;
		position: absolute;

		border-radius:50%;
		-webkit-transition:all 0.2s linear;
		-moz-transition:all 0.2s linear;
		-ms-transition:all 0.2s linear;
		transition:all 0.2s linear;
		box-shadow: 1px 1px 3px #7D7D7D;
		background-color: $accent-color;

		.glyphicon {
			@include dead-center();
			color: white;
		}
	}
	.circle:hover {
		box-shadow: 1px 1px 30px black;
	}

	.circle.base {
		z-index: 1;
	}
}

// New task modal

.newtask.modal-dialog .modal-content {
	margin-top: 50%;
	.btn-sm {
		margin: 5px 10px;
	}
	input[type=checkbox] {
		display: none;
	}
	label {
		background-color: #B0BEC5;
	}
	input[type=checkbox]:checked + label {
		background-color: #4CAF50;
		color: white;
	}
}
