// Body sizing
html, body {
	height: 100%;

	.loginpage {
		height: 100%;
	}
}

// Form positioning
#sessionform {

	// Align form vertically
	@include vertical-align();

	// Login wrapper
	#session_wrap {
		background-color: white;
		padding: 0;
		box-shadow: 0 5px 10px #CFD8DC;

	  	// Login form title
	  	h2 {
	  		background-color: $primary-color;
	  		color: white;
	  		padding: 15px;
	  		margin: 0;
	  	}

	  	// Formatting of the form
	  	#form_contents {
	  		padding: 15px;

	  		// User input fields
	  		input[type="email"], input[type="password"] {
	  			padding: 5px;
	  			margin: 10px 0;
	  			width: 100%;
	  			background-image: none!important;
	  		}

	  		// Submit button
	  		input[type="submit"] {
	  			background-color: $accent-color;
	  			color: white;
	  			border: none;
	  			padding: 5px 20px;
	  			margin: 20px 0;
	  		}

	  		// Remember me
	  		.rememberme {
	  			color: grey;
	  		}
	  		.rememberme label {
	  			margin-left: 5px;
	  		}

	  		// Forgot password/signup/login
	  		#other_actions a {
	  			color: $primary-light;
	  		}

	  	}

	  	// Password field on signup page
	  	.password_field em {
	  		opacity: 0.6;
	  	}

  }
}