$primary-color: #2196F3; //blue 500
$primary-light: #90CAF9; //blue 200
$primary-dark: #1976D2; // blue 700

$accent-color: #F44336; //red 500
$accent-light: #EF9A9A; //red 200
$accent-dark: #D32F2F; //red 700

$font-stack: 'Roboto', sans-serif;

 // Vertical align mixin
 @mixin vertical-align($position: relative) {
 	position: $position;
 	top: 50%;
 	-webkit-transform: translateY(-50%);
 	-ms-transform: translateY(-50%);
 	transform: translateY(-50%);
 }

 // Horizontal align mixin
 @mixin dead-center($position: relative) {
 	position: $position;
 	top: 50%;
 	-webkit-transform: translate(-50%, -50%);
 	-ms-transform: translate(-50%, -50%);
 	transform: translate(-50%, -50%);
 	left: 50%;
 }